<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MonthlyReport</title>
</head>
<body>
    <h2 style="text-align: center;">Monthly User Activity Summary</h2>
    <h3>Dear {{user}},</h3>
    <p>Please find below your BlogSpot activities summary for the month of <b> {{month}}</b>.</p>
    <table>
        <tr>
            <td> No of posts: </td> <td> <b> {{ post_count }} </b></td>
        </tr>
        <tr> 
            <td> No of Followers of {{user}}: </td> <td> <b> {{ followers_count }} </b> </td>
        </tr>
        <tr>
            <td> No of users Followed by {{user}}:</td> <td> <b> {{ following_count }} </b></td>
        </tr>
    </table>
    {% if post_count > 0 %}
    <h4> Post Statistics for the month of {{month}}:  </h4>
    <table style="width: 60%; border: 1pt solid black;">
        <tr>
            <th style="border: 1pt solid black;"> Post Title</th>
            <th style="border: 1pt solid black;"> Likes</th>
            <th style="border: 1pt solid black;"> Dislikes</th>
            <th style="border: 1pt solid black;"> No of Comments</th>
        </tr>        
        {% for post in post_list %}
        <tr>
            <td style="border: 1pt solid black; text-align: center;">{{post.title}}</td>
            <td style="border: 1pt solid black; text-align: center;">{{post.likes}}</td>
            <td style="border: 1pt solid black; text-align: center;">{{post.dislikes}}</td>
            <td style="border: 1pt solid black; text-align: center;">{{post.comment_count}}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

    <br>
    <p>With Best Regards,</p>
    <p>Team BlogSpot.</p>
</body>
</html>